<!DOCTYPE HTML>
<html>

<head>
	<script>
		var StreamHost = JSON.parse('<%-Host%>');
		var servername = "<%=servername%>";
		var servercache = "<%=cache%>";
		var prefix = "<%=prefix%>";
	</script>
	<link href='http://fonts.googleapis.c
om/css?family=Alegreya+Sans+SC:100,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/mainstyle.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/blur.min.js"></script>
	<script src="/js/jquery.fittext.js"></script>
	<script src="/js/streamlist.js"></script>

	<body>
		<div id="pageContainer">

			<div id="sidebar">
				<span id="lunaText">LUNA</span>
				<div id="lunaLogo">
				</div>

			</div>
			<div id="activestreams">
				<div id="streamcontainer">
				</div>
			</div>
		</div>
	</body>

</html>